<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBxYH-UuIDVXcK-Az5J9mVGx9wK54JYLM</string>
	<key>GCM_SENDER_ID</key>
	<string>372494251881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oneone.app</string>
	<key>PROJECT_ID</key>
	<string>oneoneapp-811dd</string>
	<key>STORAGE_BUCKET</key>
	<string>oneoneapp-811dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372494251881:ios:11b2f66c959a5429fbaff8</string>
</dict>
</plist>